In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('data/data.csv')

display(data)

,Student ID,Name,Gender,Parental Support,Previous Grade,Study Hours Per Week,Extracurricular Activities,Attendance Rate,Final Grade
0,0,Ashley Griffin,Male,Medium,77.483571,24.996777,5,53.248217,74.924988
1,1,Janet Singh,Male,High,84.308678,29.623168,2,74.554813,99.000000
2,2,Richard Bernard,Female,Medium,78.238443,18.298152,5,52.075801,74.307872
3,3,Vanessa Meyer,Male,Medium,82.615149,14.765316,1,64.920385,89.178993
4,4,Rodney Holmes,Male,Low,48.829233,15.491117,4,50.000000,58.903799
...,...,...,...,...,...,...,...,...,...
995,995,Kathleen Hill,Male,Medium,73.594499,23.350751,5,60.774805,83.333430
996,996,Jessica Perkins,Male,High,93.988433,24.867394,3,76.577525,93.520444
997,997,Candice Carey,Female,High,88.204214,20.590627,4,59.582394,89.263667
998,998,Ashley Ruiz DVM,Female,Medium,72.144105,17.184665,4,65.341764,85.298660
999,999,Frank Pierce Jr.,Female,High,87.862914,21.275487,1,76.447410,99.000000